@import url("https://use.typekit.net/jii8opb.css");
@import url("https://fonts.cdnfonts.com/css/satoshi");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
}

.landing-page {
  font-family: "poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  width: 100%;
  overflow: hidden;

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 0px 100px 0px;
    background-color: #1e1f21;
    width: 100%;
    position: relative;
    overflow: hidden;
    color: #fff;
    @media screen and (max-width: 330px) {
      padding: 150px 0px 100px 0px;
    }
    .hero-con {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 50%;
      gap: 30px;
      @media screen and (max-width: 768px) {
        width: 85%;
      }
      header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        h1 {
          line-height: 55px;
          text-align: center;
          font-size: 50px;
          font-weight: 900;
          font-family: "Satoshi", sans-serif;
          @media screen and (max-width: 330px) {
            width: 100%;
            font-size: 40px;
            line-height: 40px;
          }
          span {
            color: #086c9e;
          }
        }
        p {
          width: fit-content;
        }
      }
      .hero-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
      }
      p {
        line-height: 28px;
        text-align: center;
        span {
          background-color: black;
          padding: 3px;
          width: fit-content;
          color: white;
        }
      }
      button {
        padding: 15px 25px 15px 25px;
        background-color: #053f5c;
        width: fit-content;
        border: none;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        p {
          font-size: 20px;
        }
      }
    }
  }
  .about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .about-con {
      padding: 50px 30px 50px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
      }
      .abtitle-con {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 20px;
        .header-text {
          width: 70%;
          h2 {
            hr {
              height: 2px;
              border-radius: 10px;
              background-color: #000;
              margin-bottom: 10px;
              width: 60px;
            }
          }
        }
      }
      button {
        background-color: #fff;
        padding: 15px 25px 15px 25px;
        color: #053f5c;
        border: none;
        border-radius: 10px;
        font-weight: 600;
        cursor: pointer;
        box-shadow: 0px 0px 0px 2px inset red;

        transition: background-color 0.3s ease;
        &:hover {
          background-color: #053f5c;
          color: #fff;
          box-shadow: none;
        }
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      .about-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        border-radius: 0px 0px 50px 50px;
        .text-con {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 65%;
          gap: 20px;
          @media screen and (max-width: 768px) {
            width: 90%;
          }
        }
        p {
          line-height: 28px;
        }
        button {
          display: block;
          background-color: #fff;
          padding: 15px 25px 15px 25px;
          color: #053f5c;
          border: none;
          border-radius: 10px;
          font-weight: 600;
          cursor: pointer;
          box-shadow: 0px 0px 0px 2px inset red;

          transition: background-color 0.3s ease;
          &:hover {
            background-color: #053f5c;
            color: #fff;
            box-shadow: none;
          }
          @media screen and (max-width: 768px) {
            display: block;
          }
        }
      }
    }
  }
  .service {
    width: 100%;
    .service-con {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 50px;
      width: 100%;
      .ser-title {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        h3 {
          padding: 10px 20px 10px 20px;
          border-radius: 10px;
          background: linear-gradient(to right, #053f5c, #379683);
          color: white;
        }
        h2 {
          font-size: 32px;
        }
      }
      .services {
        width: 100%;
        padding: 0px 0px 50px 0px;
        .service-box {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          @media screen and (max-width: 768px) {
            flex-direction: column;
            gap: 35px;
          }

          .box {
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            width: 30%;
            border-radius: 5px;
            height: fit-content;
            overflow: hidden;
            @media screen and (max-width: 768px) {
              width: 60% !important;
            }
            @media screen and (max-width: 430px) {
              width: 90% !important;
            }

            .box-main {
              position: relative;
              display: flex;
              align-items: flex-start;
              justify-content: space-around;
              flex-direction: column;
              overflow: hidden;
              width: 100%;

              img {
                width: 100%;
                height: 300px;
                transition: opacity 0.3s ease;
              }

              .type {
                margin-top: -50px;
                border-radius: 50px;
                background-color: #053f5c;
                color: #fff;
                width: 100%;
                text-align: center;
                font-weight: 700;
                font-size: 20px;
                padding: 10px;
                transition: opacity 0.3s ease;
              }
            }

            .overlay {
              position: absolute;
              top: 0;
              left: 0;
              width: 95%;
              height: 100%;
              display: flex;
              flex-direction: column;
              gap: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              padding: 0px 20px 0px 5px;
              opacity: 0;
              transition: opacity 0.5s ease;
              background-color: rgba(0, 0, 0, 0.8);
              color: #ccc;
              @media screen and (max-width: 430px) {
                padding: 10px 20px 20px 10px;
              }
              h4 {
                line-height: 20px;
              }

              button {
                display: block;
                background-color: #fff;
                padding: 15px 25px 15px 25px;
                border: none;
                color: #053f5c;
                border-radius: 10px;
                font-weight: 600;
                cursor: pointer;
                box-shadow: 0px 0px 0px 2px inset red;

                transition: background-color 0.3s ease;
                &:hover {
                  background-color: #053f5c;
                  color: #fff;
                  box-shadow: none;
                }
              }
              p {
                line-height: 24px;
                @media screen and (max-width: 430px) {
                  line-height: 20px;
                }
              }
            }

            cursor: pointer;

            &:hover {
              .box-main {
                opacity: 1;
              }

              .overlay {
                opacity: 2;
              }
            }

            @media screen and (max-width: 800px) {
              width: fit-content;
              line-height: 30px;
            }
          }
        }
      }
      button {
        display: block;
        background-color: #fff;
        padding: 15px 25px 15px 25px;
        border: none;
        color: #053f5c;
        border-radius: 10px;
        font-weight: 600;
        cursor: pointer;
        box-shadow: 0px 0px 0px 2px inset red;

        transition: background-color 0.3s ease;
        &:hover {
          background-color: #053f5c;
          color: #fff;
          box-shadow: none;
        }
      }
      .view-btn {
        margin-top: -50px;
        display: block;
        background-color: #fff;
        padding: 15px 25px 15px 25px;
        border: none;
        color: #053f5c;
        border-radius: 10px;
        font-weight: 600;
        cursor: pointer;
        box-shadow: 0px 0px 0px 2px inset red;
        transition: background-color 0.3s ease;
        &:hover {
          background-color: #053f5c;
          color: #fff;
          box-shadow: none;
        }
      }
    }
  }
  .works {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .works-con {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      border: 10px;
      overflow: hidden;
      background-color: #206880;
      padding: 20px;
      .work-title {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin-left: 100px;
        hr {
          width: 50px;
          height: 4px;
          background-color: #053f5c;
          margin-bottom: 5px;
          border-radius: 10px;
          border: none;
        }
        p {
          font-weight: 500;
        }
        h2 {
          font-size: 40px;
          width: 50%;
          line-height: 40px;
          span {
            color: white;
          }
          @media screen and (max-width: 575px) {
            width: 80%;
          }
        }
        @media screen and (max-width: 575px) {
          margin-left: 30px;
        }
      }
      .work-box {
        display: flex;
        align-items: center;
        gap: 30px;
        overflow: auto;
        width: 100%;
        padding: 0px 0px 30px 0px;
        .box-con {
          border-radius: 10px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 5px;
          background-color: white;
          padding: 0px 0px 10px 0px;
          .img {
            height: 200px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              height: 300px;
              width: 400px;
              transition: scale 0.7s ease;
              @media screen and (max-width: 575px) {
                width: 300px;
                height: 200px;
              }
            }
            &:hover {
              img {
                scale: 1.2;
              }
            }
            @media screen and (max-width: 575px) {
              height: 150px;
            }
          }
          .wpt {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            margin-left: 32px;
            p {
              font-size: 12px;
            }
          }
        }
        button {
          padding: 15px 25px 15px 25px;
          background-color: #053f5c;
          width: fit-content !important;
          border: none;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          cursor: pointer;
          border-radius: 5px;
          p {
            font-size: 16px;
          }
          margin-right: 50px;
        }
      }
    }
  }
  .testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    .testy-con {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 30px;
      .testy-title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        flex-direction: column;
        h3 {
          padding: 10px 20px 10px 20px;
          background: linear-gradient(to right, #053f5c, #379683);
          border-radius: 10px;
          color: white;
        }
        h2 {
          font-size: 30px;
          text-align: center;
          @media screen and (max-width: 575px) {
            width: 80%;
          }
        }
      }
      .testy-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
        width: 90%;

        @media screen and (max-width: 575px) {
          width: 90% !important;
        }
        .testy-main {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          gap: 10px;
          line-height: 28px;
          width: 40%;
          padding: 30px;
          background-color: #ccc;
          @media screen and (max-width: 768px) {
            width: 80% !important;
          }
          img {
            margin-bottom: 10px;
            height: 20px;
            width: 20px;
          }

          .rating {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-bottom: 5px;
            img {
              height: 20px;
              width: 20px;
            }
          }
          p {
            text-align: left;
          }
          .writer-dets {
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            .writer-img {
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 70px;
                width: 70px;
                border-radius: 50%;
              }
            }
            .write-dets {
              display: flex;
              align-items: flex-start;
              justify-content: center;
              flex-direction: column;
              h4 {
                color: rgb(0, 0, 0);
              }
              span {
                font-size: 12px;
                margin-top: -5px;
                color: rgb(54, 52, 52);
              }
            }
          }
          @media screen and (max-width: 575px) {
            width: 60%;
          }
          @media screen and (max-width: 400px) {
            width: 70%;
          }
        }
        @media screen and (max-width: 575px) {
          flex-direction: column;
          gap: 30px;
        }
      }
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent #fff;
        padding: 20px;
        border: none;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        cursor: pointer;
      }
    }
  }
  .why {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    background-color: #20639b;
    .why-con {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      background-color: #20639b;
      width: 100%;
      .why-title {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
        background-color: #053f5c;
        width: 100%;
        padding: 30px 0px 50px 50px;
        @media screen and (max-width: 500px) {
          padding: 30px 0px 30px 20px;
          gap: 20px;
        }
        .why-ben {
          display: flex;
          align-items: center;
          gap: 20px;
          justify-content: center;
          .why-lines {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            gap: 5px;
            hr {
              height: 2px;
              background-color: #649fb2;
              width: 100px;
              border: none;
              @media screen and (max-width: 500px) {
                width: 50px;
              }
            }
            .whyline-main {
              height: 10px;
              background-color: #379683;
              width: 60px;
              @media screen and (max-width: 500px) {
                width: 30px;
              }
            }
          }
          h3 {
            color: white;
          }
        }
        h2 {
          color: white;
          font-size: 40px;
          @media screen and (max-width: 500px) {
            font-size: 30px;
          }
        }
      }
      .e-ben {
        display: flex;
        align-items: center;
        justify-content: center;
        .eben-con {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 30px;
          padding: 50px;
          @media screen and (max-width: 500px) {
            padding: 50px 0px 50px 0px;
          }
          .eben-main {
            display: grid;
            grid-template-columns: 25% 25% 25%;
            grid-template-rows: auto;
            align-items: center;
            justify-content: center;
            gap: 50px;
            @media screen and (max-width: 800px) {
              grid-template-columns: 40% 40%;
            }
            @media screen and (max-width: 500px) {
              grid-template-columns: 80%;
            }
            .bens {
              display: flex;
              align-items: flex-start;
              justify-content: center;
              flex-direction: column;
              gap: 20px;
              img {
                height: 50px;
                width: 50px;
                background-color: #f8f4f4;
                border-radius: 10px;
                padding: 10px;
              }
              .bens-text {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                gap: 15px;
                h3 {
                  color: #fff;
                }
                p {
                  color: rgb(0, 0, 0);
                  line-height: 25px;
                }
              }
            }
          }
        }
      }
    }
    .why-auto {
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 2;
      width: 90%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ccc;
      border-radius: 20px 20px 0px 0px;
      font-size: 30px;
      @media screen and (max-width: 800px) {
        height: 80px;
      }
      .auto-text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        h2 {
          padding: 20px;
          line-height: 25px;
          text-align: center;
          font-size: 30px;
          .typed-text {
            color: red;
          }
        }
        @media screen and (max-width: 575px) {
          display: none;
        }
      }
      .auto-text-2 {
        display: none;
        @media screen and (max-width: 575px) {
          display: block;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          h2 {
            font-size: 20px;
            line-height: 25px;
            text-align: center;
            padding: 20px;
            .typed-text {
              color: red;
            }
          }
        }
      }
    }
  }
  .blog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 30px;
    padding: 50px 50px 0px 50px;
    background-color: #f5f5f5;

    @media screen and (max-width: 575px) {
      gap: 30px;
    }
    .blog-title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-direction: column;
      gap: 30px;
      text-align: center;
      width: fit-content;
      @media screen and (max-width: 575px) {
        align-items: flex-start;
        width: 100%;
        padding: 0px 0px 0px 50px;
      }
      h3 {
        text-align: center;
        padding: 10px 20px 10px 20px;
        background: linear-gradient(to right, #053f5c, #379683);
        border-radius: 10px;
        color: white;
      }
      h2 {
        font-size: 30px;
        span {
          color: #20639b;
        }
      }
    }
    .blog-desc {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 50px 0px 50px;
      @media screen and (max-width: 575px) {
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
        padding: 0px 0px 0px 50px;
        width: 100%;
      }
      p {
        text-align: left;
        width: 50%;
        line-height: 25px;
        @media screen and (max-width: 575px) {
          width: 80%;
        }
      }
      button {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        padding: 20px 40px 20px 40px;
        font-size: 16px;
        color: white;
        border: none;
        border-radius: 5px;
        background-color: #053f5c;
        font-weight: 600;
      }
    }
    .blogs {
      display: flex;
      align-items: center;
      justify-content: center;

      .blogs-con {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 30px;
        @media screen and (max-width: 768px) {
          flex-direction: column;
          gap: 40px;
        }
        .blog-main {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 20px;
          width: 30%;
          overflow: hidden;
          box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.09),
            0px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
          background-color: #fff;
          padding: 0px 0px 20px 0px;
          @media screen and (max-width: 768px) {
            width: 90%;
          }
          img {
            width: 100%;
            height: 230px;
          }
          .blog-desc {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding: 0px 0px 0px 20px;
            p {
              padding: 10px;
              background-color: #053f5c;
              color: white;
              width: fit-content;
              font-family: "poppins", sans-serif;
              font-size: 90%;
              margin-bottom: 10px;
            }
            h2 {
              width: 90%;
              line-height: 28px;
            }
          }
          .blog-writer {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 20%;
            width: 100%;
            padding: 0px 0px 0px 40px;
            @media screen and (max-width: 575px) {
              gap: 10px;
              flex-direction: column;
              align-items: flex-start;
              padding: 0px 0px 0px 20px;
            }
            .admin {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              img {
                border: 2px #053f5c solid;
                height: 50px;
                width: 50px;
                border-radius: 50%;
              }
              .admin-dets {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                gap: 10px;
              }
            }
            .time {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
            }
          }
        }
      }
    }
  }
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .contact-con {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 80%;
      background-color: #053f5c;
      padding: 50px;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 25px;
        justify-content: center;
      }
      .contact-text {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        @media screen and (max-width: 768px) {
          flex-direction: column;
          gap: 25px;
          justify-content: center;
        }
        .c-main-text {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          gap: 20px;
          flex-direction: column;
          color: white;
          @media screen and (max-width: 768px) {
            align-items: center;
          }
          p {
            font-size: 16px;
            text-align: center;
          }
          h2 {
            font-size: 25px;
            @media screen and (max-width: 768px) {
              text-align: center;
            }
          }
        }
      }
      button {
        padding: 20px 45px 20px 45px;
        transition: background-color 0.3s ease-in, color 0.3s ease-in;
        border-radius: 5px;
        border: none;
        font-weight: 550;
        font-size: 14px;
        cursor: pointer;
        &:hover {
          background-color: #086c9e;
          box-shadow: none;
          color: #fff;
        }
      }
    }
  }
}
