@import url("https://use.typekit.net/jii8opb.css");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
}

.landing-page {
  font-family: "poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px 100px 0px;
    background-image: url("../Images/Hero-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    .hero-con {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 65%;
      text-align: center;
      gap: 30px;
      @media screen and (max-width: 768px) {
        width: 85%;
      }
      header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 15px;
        h1 {
          line-height: 65px;
          font-size: 50px;
          font-weight: 900;
          font-family: "poppins", sans-serif;
          @media screen and (max-width: 330px) {
            width: 100%;
            font-size: 45px;
          }
          span {
            color: #053f5c;
          }
        }
        p {
          width: fit-content;
        }
      }
      .hero-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 50px;
      }
      p {
        line-height: 28px;
        span {
          background-color: black;
          padding: 3px;
          width: fit-content;
          color: white;
        }
      }
      button {
        padding: 15px 25px 15px 25px;
        background-color: #053f5c;
        width: fit-content;
        border: none;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        p {
          font-size: 20px;
        }
      }
    }

    .circle-1 {
      width: 100px;
      height: 100px;
      background-color: rgba(45, 87, 170, 0.4);
      top: 10%;
      left: 10%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      animation: move 60s linear infinite;
      position: absolute;
      opacity: 1;
      font-weight: 600;
      text-align: center;
      cursor: pointer;
    }

    .circle-2 {
      width: 80px;
      height: 80px;
      background-color: rgba(245, 40, 40, 0.4);
      top: 30%;
      left: 60%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      animation: move 60s linear infinite;
      position: absolute;
      z-index: 1;
      font-weight: 600;
      cursor: pointer;
    }

    .circle-3 {
      width: 120px;
      height: 120px;
      background-color: rgba(187, 255, 79, 0.4);
      top: 60%;
      left: 60%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      animation: move 60s linear infinite;
      position: absolute;
      z-index: 1;
      font-weight: 600;
      text-align: center;
      cursor: pointer;
    }

    @keyframes move {
      0% {
        transform: translate3d(0, 0, 0);
      }
      10% {
        transform: translate3d(50px, -100px, 0);
      }
      20% {
        transform: translate3d(150px, -50px, 0);
      }
      30% {
        transform: translate3d(-50px, 100px, 0);
      }
      40% {
        transform: translate3d(0, 125px, 0);
      }
      50% {
        transform: translate3d(50px, 100px, 0);
      }
      60% {
        transform: translate3d(-75px, -150px, 0);
      }
      70% {
        transform: translate3d(100px, 50px, 0);
      }
      80% {
        transform: translate3d(-200px, 150px, 0);
      }
      90% {
        transform: translate3d(-50px, -100px, 0);
      }
      100% {
        transform: translate3d(0, 0, 0);
      }
    }
  }
  .about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .about-con {
      padding: 50px 30px 50px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
      }
      .abtitle-con {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 20px;
        header {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          // text-align: left;
          gap: 10px;
          .about-line {
            width: 80px;
            height: 2px;
            border-radius: 10px;
            background-color: #000;
          }
        }
        button {
          background-color: #fff;
          padding: 15px 25px 15px 25px;
          color: #053f5c;
          border: none;
          border-radius: 10px;
          font-weight: 600;
          cursor: pointer;
          box-shadow: 0px 0px 0px 2px inset rgb(5, 63, 92);

          transition: background-color 0.3s ease;
          &:hover {
            background-color: #053f5c;
            color: #fff;
          }
          @media screen and (max-width: 768px) {
            display: none;
          }
        }
      }
      .about-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 65%;
        gap: 20px;
        @media screen and (max-width: 768px) {
          width: 90%;
        }
        p {
          line-height: 28px;
        }
        button {
          display: none;
          @media screen and (max-width: 768px) {
            display: block;
            background-color: #fff;
            padding: 15px 25px 15px 25px;
            color: #053f5c;
            border: none;
            border-radius: 10px;
            font-weight: 600;
            cursor: pointer;
            box-shadow: 0px 0px 0px 2px inset rgb(5, 63, 92);

            transition: background-color 0.3s ease;
            &:hover {
              background-color: #053f5c;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
