@import url("https://use.typekit.net/jii8opb.css");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
}

.navbar {
  font-family: "poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 0px;
  background-color: #f5fbff;
  z-index: 1000;

  .nav-con {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px 15px 0px;
    width: 100%;
    @media screen and (max-width: 768px) {
      justify-content: space-between;
      padding: 15px;
    }
    .ham-logo {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 50px;
        width: 200px;
        cursor: pointer;
      }
    }
    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        list-style: none;
        padding: 0px 0px 20px 0px;
        button {
          display: none;
          @media screen and (max-width: 800px) {
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            padding: 15px 25px 15px 25px;
            gap: 15px;
            background-color: #f5fbff;
            border: none;
            cursor: pointer;
            transition: background 0.2s ease-in, color 0.3s ease-in;
            &:hover {
              color: white;
              background: #2b7aa2;
            }
          }
        }
        li {
          width: 100%;
          .active {
            text-decoration: none;
            font-size: 20px;
            color: #053f5c;
          }
          .false {
            color: black;
            text-decoration: none;
            font-size: 20px;
            transition: color 0.3s ease-in;
            &:hover {
              color: #053f5c;
            }
          }
        }
      }
      .side-links {
        display: none;
        margin-top: 10px;
        @media screen and (max-width: 800px) {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 15px;
          .side-logo {
            height: 50px;
            width: 200px;
            cursor: pointer;
            img {
              height: 50px;
              width: 200px;
            }
          }
          hr {
            height: 2px;
            border: none;
            width: 90%;
            background-color: #fff;
          }
          .side-icons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .side-icon {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 50px;
              width: 50px;
              border-radius: 50%;
              box-shadow: 0px 0px 0px 5px inset black;
              background-color: #ccc;
              cursor: pointer;
              transition: margin-top 0.3s ease-in;
              &:hover {
                margin-top: -5px;
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 800px) {
      nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 84px;
        right: 0px;
        width: 90%;
        height: 100vh;
        background-color: #053f5c;
        margin-right: 0px;
        padding: 30px 0px 30px 0px;
        animation: slideIn 0.5s ease-in-out forwards;

        @keyframes slideIn {
          from {
            transform: translateX(100%);
          }

          to {
            transform: translateX(0%);
          }
        }

        ul {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 20px;
          width: 100%;
          overflow: hidden;
          border-bottom: 1px solid #ccc;
          li {
            width: 100% !important;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            .active {
              display: flex;
              align-items: center;
              justify-content: center;
              text-decoration: none;
              font-size: 20px;
              padding: 10px 0px 10px 0px;
              width: 90%;
              border-radius: 20px;
              color: #2b7aa2;
              background-color: #f5fbff;
            }
            .false {
              color: black;
              text-decoration: none;
              font-size: 20px;
              color: #fff;
              transition: color 0.3s ease-in;
              &:hover {
                color: #2b7aa2;
              }
            }
          }
        }
      }
    }
    .nav-items {
      display: block;
    }
    .null {
      display: block;
      @media screen and (max-width: 800px) {
        display: none;
      }
    }
  }
  .nav-btn {
    button {
      padding: 15px 30px 15px 30px;
      color: white;
      background-color: rgb(5, 63, 92);
      border-radius: 10px;
      border: none;
      font-weight: 600;
      cursor: pointer;
      transition: box-shadow 0.3s ease;
      &:hover {
        background-color: #fff;
        box-shadow: 0px 0px 0px 2px inset red;
        color: #053f5c;
      }
      @media screen and (max-width: 800px) {
        display: none;
      }
    }
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
  .ham {
    display: none;
    @media screen and (max-width: 800px) {
      display: block;
      .ham-icon {
        cursor: pointer;
      }
    }
  }
}
